{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Edit Page</h1>

    <form action="{% url 'save_edit' %}" method = "POST">
        {% csrf_token %}
        <lable>Title:</lable>
        <input type="text" name="title" placeholder="Enter a title" value="{{ title }}">
        <br/>
        <label>Markdown Content:</label>
        <br/>
        <textarea name="content" row="2" cols="20">{{ content }}</textarea>
        <br/>
        <button type="submit"  class="btn btn-primary">Save_Edit</button>
    </form>

{% endblock %}